/*------共通------*/
@font-face {
    font-family: 'LXGWWenKai';
    src: url('../fonts/LXGWWenKai-Light.ttf');
}
@font-face {
    font-family: 'minzhao';
    src: url('../fonts/MS明朝.ttf');
}
.background {
    background-image: url('../media/Solvay_conference_1927_dark.jpg');
    background-size: cover;/*充满屏幕*/
    min-height: 100vh; /* 最小高度为视窗高度 */
    /* height: auto; 展开超过100vh时可以补全 */
    background-attachment: fixed;
    z-index: -100; /* 确保背景在文本下面 */
}
.embedded .background {/* 嵌入时清除背景 */
    background: transparent;
}
body, html {
    color: white; /* 设置所有文本颜色为白色 */
    height: 100%;
    margin: 0;
    padding: 0;
}
button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
#markdown-list {
    margin: 0px;
    padding: 30px; /* 这里只要不是零就能解决浏览器上方白边地问题  */
}
h1 {
    font-family: 'minzhao', sans-serif;
    margin: 0;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 60px;
}
.embedded h1 {
    display: none;
}

/* -----分开设置的-------- */


.container {
    position: relative;
    min-height: 100vh;
}
.subtitle {
    font-size: 15px;
    color: rgba(255, 0, 221, 0.682);
}
button {
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    padding: 0px 10px;
    transition: all 0.3s ease;
}
.contentback{
    padding: 2px 50px;
    background-color: rgba(0, 0, 0, 0.49);
    font-family: 'LXGWWenKai', sans-serif; /* 设置字体 */
    font-size: 20px; /* 设置字体大小 */
    line-height: 1.5; /* 设置行间距（1.5 倍行高） */
}


@media (max-width: 767px) {/* 手机端样式 */
    .container {
        width: 100%; /* Ensure full width */
    }
    .subtitle {
        font-size: 12px; /* Reduce font size */
        line-height: 1.4; /* Improve readability */
    }
    button {
        border-radius: 15px; /* Slightly smaller radius */
        padding: 5px 8px; /* Reduce padding for smaller touch targets */
        font-size: 14px; /* Smaller text */
    }
    .contentback {
        margin: 1px;
        padding: 5px 12px; /* Reduce padding */
        background-color: rgba(0, 0, 0, 0.49);
        font-size: 18px; /* 设置字体大小 */
        line-height: 1.3; /* 设置行间距（1.5 倍行高） */
    }
}